[package]
name = "windows-installer-setup"
version = "0.1.0"
edition = "2024"

[dependencies]
libcrapapp = {{ libcrapapp_dependency }}

[build-dependencies]
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.150"
libcrapapp = {{ libcrapapp_build_dependency }}
winresource = "0.1.23"

[[bin]]
name = "setup"
path = "src/main.rs"

[[bin]]
name = "uninstall"
path = "src/uninstall.rs"

[workspace]
resolver = "3"
